#admin .sidebar{
  background-color: var(--color-primary);
  min-width: 210px;
  max-width: 250px;
  width: 25%;
  min-height: 100vh;
  padding-top: 20px;

  .logo{
    margin-left: 20px;
    margin-bottom: 53px;

    h1{
      color: var(--color-gray-100)!important;
    }
  }

  ul li {
    padding-left: 20px;
    background-color: var(--color-primary-dark);
    height: 45px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    &:hover{
      cursor: pointer;
      background-color: var(--color-primary-light);
    }

    a{
      display: inline-block;
      width: 100%;
      color: var(--color-white);
      text-decoration: none;
    }
  }
}


@media screen and (max-width: 1024px){
  .sidebar{
    position: fixed;
    height: 100%;
    transform: translateX(-100%);
    transition: all 1s ease;
    z-index:1000;

    &.open{
      display: block;
      transform: translateX(0%);
    }
  }
}
