@import "node_modules/bulma/bulma";
@import "../core/font-awesome/font-awesome.scss";

@import "../admin/core/variables";
@import "../admin/core/typo";
@import "../admin/core/common";
@import "../core/tailwind";

.authForm{
    border: 1px solid var(--color-primary-dark);
    border-radius: var(--br);

    .label{
        @apply mt-2;
        @apply mb-1;
    }

    .submit{
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }
}
